/* header section */

.header_section{
    background-color: #0d6efd;
}
.h_left{

}

.h_left h1{

}

nav{

}
nav ul{
    list-style: none;
    margin-bottom: 0;
}
nav ul li{

    display: inline-block;
    line-height: 47px;
}
nav ul li a{

    color: black;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 20px;
    padding: 0 16px;
}